body {
  background-color: #333;
  color: #fff;
}

#home-section {
  background-image: url(../img/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 550px;
}

.home-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  min-height: 550px;
}
